:root {
  --primary-color: #0E2160;
  --secondary-color: #AD0000;
  --border-color: #D1D5DB;
  --background-color: #f0f0f0;
}

.login-signup-container {
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  padding: 5px;
  box-sizing: border-box;
}

.image-container {
  position: relative;  
  width: 550px;
  height: 600px;
  padding: 10px;
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.image-text {
  position: absolute;
  bottom: 20px;
  left: 15px;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4); 
}

.heading {
  font-size: 3.2rem;
  word-spacing: 2px;
  line-height: 1.1;
  font-weight: bold;
  margin-bottom: 20px;
}

.description {
  font-size: 1.1rem;
}

.login-signup-form-container {
  flex: 1;
  max-width: 400px;
  margin: 0 auto;
  padding: 40px;
  border: 1px solid var(--border-color);
  border-radius: 8px;
  background-color: #f9f9f9;
}

.logo {
  height: 60px;
  display: block;
  margin: 0 auto 10px;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

.microsoft-btn {
  display: inline-flex;
  align-items: center;
  width: 95%;
  justify-content: center;
  padding: 8px;
  border: 1px solid var(--border-color);
  border-radius: 4px;
  background-color: #ffffff;
  color: #000000;
  text-decoration: none;
  margin-bottom: 20px;
  font-size: 1rem;
}

.microsoft-btn:hover {
  background-color: #f5f5f5;
}

.microsoft-logo {
  height: 22px;
  margin-right: 8px;
}

.divider-container {
  display: flex;
  align-items: center;
  margin: 20px 0;
}

.divider {
  flex: 1;
  border-top: 1px solid var(--border-color);
}

.or-text {
  margin: 0 10px;
  color: #555;
  font-size: 1rem;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 8px;
}

.form-group input {
  width: 95%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 0.78rem;
}

.password-input-container {
  position: relative;
  display: flex;
  align-items: center;
}

.password-input-container input {
  width: 100%;
  padding-right: 40px; 
}

.password-toggle-icon {
  position: absolute;
  right: 10px;
  cursor: pointer;
  color: gray; 
}

.password-toggle-icon:hover {
  color: #000; 
}

button {
  width: 100%;
  padding: 10px 15px;
  background-color: var(--primary-color);
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
  margin-top: 20px;
  margin-bottom: 20px;
}

button:hover {
  background-color: #091740;
}

button:focus {
  outline: 2px solid var(--primary-color);
  outline-offset: 2px;
}

button:active {
  background-color: #06152d;
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

@media (max-width: 768px) {
  .login-signup-container {
    flex-direction: column; /* Stack the image and form vertically */
    height: auto; /* Allow content to grow with the screen height */
  }

  .image-container {
    width: 100%;
    height: 50vh; /* Image takes half the screen height */
    padding: 0;
  }

  .login-signup-form-container {
    width: 95%;
    height: 50vh; /* Form takes half the screen height */
    margin-top: 20px;
    max-width: 100%;
    padding: 20px;
  }

  .heading {
    font-size: 2.5rem;
  }

  .description {
    font-size: 0.9rem;
  }
}
